<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commodities Prices</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h1>Commodities and Prices</h1>

    <table>
        <thead>
            <tr>
                <th>Commodity</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Stock Exchange</th>
                <th>Stock Exchange (Short Name)</th>
            </tr>
        </thead>
        <tbody>
            {% for commodity in commodities %}
                <tr>
                    <td>{{ commodity['symbol'] }}</td>
                    <td>{{ commodity['name'] }}</td>
                    <td>{{ commodity['currency'] }}</td>
                    <td>{{ commodity['stockExchange'] }}</td>
                    <td>{{ commodity['exchangeShortName'] }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
